* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  justify-content: center;
}

.flag {
  width: 300px;
  height: 200px;
  border: 1px solid black;
  margin: 100px;
}

.flag #top {
  background-color: #000000;
  height: 33.333%;
  animation-name:flag-change1;
  animation: 4s linear 0 infinite;
  animation-play-state: paused;
}

.flag #middle {
  background-color: #ff0000;
  height: 33.333%;
  animation-name:flag-change2;
  animation: 4s linear 0 infinite;
  animation-play-state: paused;
}

.flag #bottom {
  background-color: #ffcc00;
  height: 33.333%;
  animation-name: flag-change3;
  animation: 4s linear 0 infinite;
  animation-play-state: paused;
}

#german:hover {
  animation-play-state: running;
}

@keyframes flag-change1 {
  0%   {background-color: #000000;}
  25%  {background-color: #ed2938;}
  50%  {background-color: #AE1C28;}
  100% {background-color: green;}
}

@keyframes flag-change2 {
  0%   {background-color: #ff0000;}
  25%  {background-color: #ffffff;}
  50%  {background-color: #ffffff;}
  100% {background-color: blue;}
}
@keyframes flag-change3 {
  0%   {background-color: #ffcc00;}
  25%  {background-color: #ed2938;}
  50%  {background-color: #21478A;}
  100% {background-color: #ffffff;}
}

#french {
  display: flex;
}

.flag #left {
  display: flex-start;
  background-color: #001489;
  width: 33.33%;
}

.flag #mid {
 display: center;
 background-color: #ffffff;
 width: 33.33%;
}
.flag #right {
 display: flex-end;
 background-color: #ef4135;
 width: 33.33%;
}
